{% extends "layout.html" %}

{%set pageId = "page-create-point" %}

{% block title %}
  <title>Criar um ponto de recolha</title>
{% endblock title %}

  {% block styles %}
    <link rel="stylesheet" href="styles/create-point.css">
    <link rel="stylesheet" href="styles/modal.css">
  {% endblock styles %}

  {% block content %}
    {% include "partials/page-header.html" %}

    <form action="/savepoint" method="POST">
        <h1>Registo do ponto de recolha</h1>

        <fieldset>  <!--Local onde fica o titulo e input do form-->
          <legend>  <!--Local onde fica a legenda de cada campo-->
            <h2>Dados da entidade</h2>
          </legend>

          <div class="field-group">
            <div class="field"> <!--Recebe um campo-->
              <label for="name">Nome da entidade</label>  <!--Nome do campo-->
              <input type="text" name="name" required> 
            </div>

            <div class="field"> <!--Recebe um campo-->
              <label for="name">Imagem da entidade</label>  <!--Nome do campo-->
              <input type="url" name="image" required placeholder="http://"> 
            </div>

          </div>

          <div class="field-group"> <!--Campos lada-a-lado -->

            <div class="field">
              <label for="address">Endereço</label>
              <input type="text" name="address" required>
            </div>

            <div class="field">
              <label for="address2">Número/complemento</label>
              <input type="text" name="address2" required>
            </div>
          </div>

          <div class="field-group"> <!--Campos lada-a-lado -->
            <div class="field">
              <label for="district">Distrito</label>
              <select name="district" required >
                <option value="">Selecione o Distrito</option>
              </select>

              <input type="hidden" name="district">
            </div>

            <div class="field">
              <label for="city">Cidade</label>
              <select name="city" disabled required>
                <option value="">Selecione a Cidade</option>
              </select>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>
            <h2>Ítens de recolha</h2>
            <span>Selecione um ou mais ítens abaixo</span>
          </legend>

          <div class="items-grid">
            <li data-id="Lâmpadas">
              <img src="./assets/lampadas.svg" alt="Lâmpada">
              <span>Lâmpadas</span>
            </li>

            <li data-id="Pilhas e Baterias">
              <img src="./assets/baterias.svg" alt="Pilhas e Baterias">
              <span>Pilhas e Baterias</span>
            </li>
            
            <li data-id="Papéis e Papelão">
              <img src="./assets/papeis-papelao.svg" alt="Papéis e Papelão">
              <span>Papéis e Papelão</span>
            </li>

            <li data-id="Resíduos Eletrónicos">
              <img src="./assets/eletronicos.svg" alt="Resíduos Eletrónicos">
              <span>Resíduos Eletrónicos</span>
            </li>

            <li data-id="Resíduos Orgânicos">
              <img src="./assets/organicos.svg" alt="Resíduos Orgânicos">
              <span>Resíduos Orgânicos</span>
            </li>

            <li data-id="Óleo de Cozinha">
              <img src="./assets/oleo.svg" alt="Óleo de Cozinha">
              <span>Óleo de Cozinha</span>
            </li>
          </div>

          <input type="hidden" name="items">

        </fieldset>

        <button type="submit">Registar ponto de recolha</button>

    </form>

  {% endblock content %}

  {% block modal %} 
    {% if saved %}
      {% include "partials/point-created.html" %} 
    {% endif %}
  {% endblock modal %} 


  {% block scripts %}
    <script src="./scripts/create-point.js"></script>
  {% endblock scripts %}