{% extends "layout.html" %} {%set pageId = "page-home" %}

<title>Ecoleta</title>

{% block styles %}
<link rel="stylesheet" href="styles/home.css" />
<link rel="stylesheet" href="styles/modal.css" />
{% endblock styles %} {% block content %}
<div class="content">
  <header>
    <img src="/assets/logo.svg" alt="Ecoleta" />

    <a href="/create-point">
      <span></span>
      Registe um ponto de recolha</a
    >
  </header>

  <main>
    <h1>O seu marketplace de recolha de residuos.</h1>
    <p>Ajudamos pessoas a encontrarem pontos de recolha de forma eficiente</p>
    <a href="#"><span></span><strong>Pesquisar pontos de recolha</strong></a>
  </main>
</div>
{% endblock content %} 
{% block modal %} 
{% include "partials/modal.html" %} 
{% endblock modal %} 

{% block scripts %}
<script src="./scripts/index.js"></script>
{% endblock scripts %}
